<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{com/featurerich/ui/templates/head-fragment}" />
    <header th:replace="~{com/featurerich/ui/templates/header-fragment}" />
    <body id="top">
        <header th:fragment="header">
            <div>
                <h1>
                    <a>Users</a>
                </h1>
            </div>
        </header>

        <main>
            <section th:each="user: ${users}">
                <div th:text="${user.id}">user.id</div>
                <div th:text="${user.version}">user.version</div>
                <div th:text="${user.email}">user.email</div>
                <div th:text="${user.disabled}">user.disabled</div>
                <div th:text="${user.updatedAt}">user.updatedAt</div>
                <div th:text="${user.updatedBy}">user.updatedBy</div>
            </section>
        </main>

        <footer th:fragment="footer"></footer>
    </body>
    <footer th:replace="~{com/featurerich/ui/templates/footer-fragment}" />
</html>
